PINECONE_API_KEY=pcsk_2SLMsL_AgZRpcs2FHAvKZL9uAuiusub931wWJX6CzKiTThr5AGLNr9FfdRy1iy43CXYB5a
PINECONE_INDEX_NAME=antino-rag
OLLAMA_BASE_URL=http://localhost:11434
EMBEDDING_MODEL=all-MiniLM-L6-v2
WHISPER_MODEL=tiny
